[user]
  name = Marshall Huss
  email = mwhuss@gmail.com
[color]
  ui = auto
[push]
	default = current
[alias]
  who = shortlog -s -n --no-merges
  standup = shortlog --since=yesterday
  today = shortlog --since=midnight
  uncommit = reset --soft HEAD^
  unref = reset --soft HEAD@{1}
  subs = submodule foreach git pull origin master
  hist = recent-branches
